h1 {
    color: red;
    font-family: monospace;
    font-style: italic;
    width: 100%;
    margin: 10px;
}
body {
    background-color: cornsilk;
    text-align: center;
}
div {
    margin: 10px;
    width: 48%;
}